<nav class="flex items-center justify-between" aria-label="Pagination">
    <p class="text-sm text-gray-700">
        Showing
        <span class="font-medium">{{ paginator.currentPageStart }}</span>
        to
        <span class="font-medium">{{ paginator.currentPageEnd }}</span>
        of
        <span class="font-medium">{{ paginator|length }}</span>
        results
    </p>
    <div class="flex flex-1 justify-between sm:justify-end gap-1">
        {% if paginator.hasPrevPage %}
            {{ component('button', {label: 'global.prev'|trans, href: '?page=' ~ (paginator.page - 1)}) }}
        {% endif %}

        {% if paginator.hasNextPage %}
            {{ component('button', {label: 'global.next'|trans, href: '?page=' ~ (paginator.page + 1)}) }}
        {% endif %}
    </div>
</nav>
