{% extends 'layout/base.html.twig' %}

{% block content %}
    <h1 class="font-bold">{{ device }}</h1>

    <div id="map"></div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
          integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
          crossorigin=""/>

    <style>
        #map { height: 75vh }
    </style>

    {{ parent() }}
{% endblock %}

{% block javascripts %}
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
            integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
            crossorigin=""></script>

    <script>
        const map = L.map('map').setView([51.505, -0.09], 13);
        let bounds = [];

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        {% if dataPoints|length %}
            {% for dataPoint in dataPoints %}
                L.marker([{{ dataPoint.lat }}, {{ dataPoint.long }}]).addTo(map);

                // Bounding box
                bounds.push([{{ dataPoint.lat }}, {{ dataPoint.long }}]);
            {% endfor %}
        {% endif %}

        map.fitBounds(bounds);
    </script>

    {{ parent() }}
{% endblock %}
