{% extends 'layout/base.html.twig' %}

{% block content %}
    
    <div class="overflow-hidden rounded bg-white border mb-4">
        {# Header #}
        <div class="bg-gray-100 px-4 py-3 border-b">
            <h3 class="text-lg font-bold leading-6 text-gray-900">{{ 'device.title'|trans({'%device%': device}) }}</h3>
            <h3 class="text-xs text-gray-500">{{ 'device.subtitle'|trans }}</h3>
        </div>
        
        {# Content #}
        <div>
            <div id="map" class="aspect-video h-96"></div>
        </div>
        
        {# Footer #}
        <div class="bg-gray-100 px-4 py-2 border-t text-xs text-right">
            <a class="inline-flex justify-center rounded-md border border-transparent py-2 px-4 text-xs font-medium text-white shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500" href="{{ path('index') }}">
                {{ 'device.go_back'|trans }}
            </a>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
          integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
          crossorigin=""/>
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
            integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
            crossorigin=""></script>

    <script>
        const map = L.map('map').setView([51.505, -0.09], 13);
        let bounds = [];

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        {% if dataPoints|length %}
            {% for dataPoint in dataPoints %}
                L.marker([{{ dataPoint.lat }}, {{ dataPoint.long }}]).addTo(map);

                // Bounding box
                bounds.push([{{ dataPoint.lat }}, {{ dataPoint.long }}]);
            {% endfor %}
        {% endif %}

        map.fitBounds(bounds);
    </script>

    {{ parent() }}
{% endblock %}
