{% extends 'layout_empty.html.twig' %}

{% block body %}
    <header class="shrink bg-white shadow">

        <div class="mx-auto max-w-7xl py-4 px-2 sm:px-6 lg:px-8">
            <div class="flex flex-row items-center">
                <div class="grow flex flex-row items-center">
                    <a href="{% block logo_link %}{% endblock %}" class="text-3xl mr-4">
                        {% if not hasPlatformLogo() %}
                            🦓
                        {% else %}

                            {% dump(getPlatformLogoPath()) %}

                            <img class="h-10" src="{{ asset(getPlatformLogoPath()) }}" alt="Logo">
                        {% endif %}
                    </a>

                    {% block navigation %}{% endblock %}
                </div>
                <div class="shrink">
                    <a class="text-sm font-bold text-indigo-500" href="{% block logout_link %}{% endblock %}">{{ 'global.logout'|trans }}</a>
                </div>
            </div>
        </div>

    </header>
    <main class="grow">
        <div class="mx-auto max-w-7xl py-4 px-2 sm:px-6 lg:px-8">
            <div class="flex mb-2">
                <div class="grow">
                    {% if block('title') is defined %}
                        <h1 class="text-3xl font-bold text-gray-800">{{ block('title') }}</h1>
                    {% endif %}

                    {% if block('subtitle') is defined %}
                        <h2 class="text-xs text-gray-700 -mt-1">{{ block('subtitle') }}</h2>
                    {% endif %}
                </div>

                <div class="shrink flex items-end gap-2">
                    {% block buttons %}{% endblock %}
                </div>
            </div>

            {% for message in app.flashes('success') %}
                {{ component('info_panel', {type: 'success', text: message|trans({}, 'flashes')}) }}
            {% endfor %}

            <div class="text-sm">
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>
{% endblock %}
