{% extends 'admin/layout.html.twig' %}

{% block title %}Create QR-Code{% endblock %}

{% block buttons %}
    {{ component('back_link', {href: path('admin.group.index')}) }}
{% endblock %}

{% block content %}
    {% if qrCode is null %}
        {{ form_start(form) }}
        {% component card %}
            {% block card_body %}
                {{ form_row(form.group) }}
                {{ form_row(form.timePeriod) }}
                {{ form_row(form.password) }}
            {% endblock %}

            {% block card_footer %}
                <div class="flex flex-col items-end">
                    {{ component('button', {type: 'primary', label: 'global.save'|trans}) }}
                </div>
            {% endblock %}
        {% endcomponent %}
        {{ form_end(form) }}
    {% else %}
        <img src="{{ qrCode }}" alt="QR Code">
    {% endif %}
{% endblock %}
